@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Press Start 2P', system-ui;
}

.press-start-2p-regular {
  font-family: "Press Start 2P", system-ui;
  font-weight: 400;
  font-style: normal;
}